@import url("../../Global/Const.css");
@import url("../../css/App.css");

.loginMainContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.loginImg {
  width: 100%;
  object-fit: cover;
}

.roW {
  display: flex;
  flex: 1;
  gap: 10px;
  align-items: center;
  height: 100%;

}

.w60p {
  width: 70%;
}

.mt2 {
  margin-top: 25px;
}

.logo1 {
  width: 13rem;
  object-fit: cover;
}

.mtten {
  margin-top: 20px;
}

.Heading {
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
}

.mtb20 {
  margin-bottom: 10%;
}

.CEN {
  display: flex;
  justify-content: center;
}

.ternaryFont {
  font-family: "DM Sans";
  font-style: normal;
  font-size: 14px;
  color: #6f6c90;
}

.textNone {
  text-decoration: none;
}

.Iconbg {
  color: #6b5eff;
}

.W100p {
  width: 100%;
}

.inputContainer {
  background: #ffffff;

  border: 1px solid #eff0f7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 10px 0;

}

.colg5 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 20px 0px;
}

.internalInput {
  padding: 20px;
  border: none;
  border-radius: 5px;
  width: 80%;
  font-size: 16px;
  font-weight: 400;
}

.sectionB {
  flex: 2;
}

.flst {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
}

.pointer {
  cursor: pointer;
}

.sectionA {
  flex: 1.5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background: #fafbfb;
  padding: 0px 5%;
  align-items: center;
}

.centerit {
  display: flex;
  justify-content: center;
}

.mt10 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.TIL {
  color: #6b5eff;
  font-weight: 700;
  font-size: 38px;
}

.W1p {
  width: 100%;
}

.widthBtn {
  background: #6b5eff;
  border: none;
  padding: 20px;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.containwidth {
  width: fit-content;
}

.widthBtn :hover {
  background: rgba(82, 96, 88, 0.75);
}

.imgContainer {
  padding: 0px 3%;
}

.cloit {
  flex-direction: column;
}

.cenitline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input:-internal-autofill-selected {
  background-image: none !important;
  background-color: transparent !important;
  color: fieldtext !important;
}



.custom-radio input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #000;
  outline: none;
  transition: border-color 0.3s;
}

.custom-radio input[type="radio"]:checked {
  border-color: #6b5eff;
  background-color: #6b5eff;
}

.custom-radio {
  display: flex;
  width: 100%;
  justify-content: center;
}

.radio-label {
  /* margin-left: 5px; */

  width: 50%;
  display: flex;
  justify-content: center;
  /* text-align: center; */
  /* margin: 0 10px; */
}

@media screen and (max-width: 1200px) {
  .roW {
    flex-direction: column;
    padding: 20px;
  }

  .loginMainContainer {
    height: fit-content;
  }

  .sectionA {
    padding: 5%;
    width: 100%;
  }
}

textarea:focus,
input:focus {
  outline: none;
}