.dashCard {
  width: 23%;
  border-radius: 5px;
  padding: 20px 10px;
  gap: 5%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}


.cl {
  display: flex;
  flex-direction: column;
}

.str {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
  gap: 20px;
}

.Gp {
  display: flex;
  gap: 10px;

}

.flxwrp {
  flex-wrap: wrap;
  justify-content: flex-start;
}

.p1 {
  display: flex;
  flex: 1;
}

.p2 {
  display: flex;
  flex: 2;
}

.iconMazSize {
  height: 75px;
  width: 75px;
  border: 1px solid var(--color-blue);
  border-radius: 100px;
  color: var(--color-blue);
  background-color: white;
}

.t1 {
  background-color: var(--color-blue);
  color: white;
}

.cnt {
  display: flex;
  align-items: center;
  justify-content: left;
}

.rgt {
  justify-content: right;
}

.largefont {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}

.largenumber {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
}

.rw {
  flex: 2;
  flex-direction: row;
}

.fs {
  justify-content: flex-start;
}

@media screen and (max-width: 1000px) {
  .str {
    flex-direction: column;
    gap: 20px;
  }

  .dashCard {
    width: 100%;
  }

  .largenumber {
    font-size: 22px;
  }
}