.ERR {
  color: red;
  font-size: 15px;
  font-weight: 400;
}

.VICON {
  height: 70px;
  width: 70px;
  color: #b8b8b8;
}

.ICONSIZE {
  height: 30px;
  width: 30px;
  color: rgb(116 114 114);
  ;
}



@media screen and (max-width: 800px) {

  .dk {
    height: 50px !important;
    width: 50px !important;
  }


}