.Hd1,
.Hd2,
.someText {
  font-family: Poppins;
  line-height: 24px;
  font-style: normal
}

.Hd1,
.Hd2,
.someText,
.ternaryFont {
  font-style: normal
}

.updateContainer {
  padding: 20px 40px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25)
}

.Hd1 {
  font-weight: 600;
  font-size: 18px
}

.ERR,
.Err {
  font-size: 14px;
  color: red
}

.Hd2,
.UBTN {
  font-size: 18px
}

.Hd2 {
  font-weight: 400
}

.UBTN,
.fontSize {
  font-weight: 600
}

.m20 {
  margin: 20px 0
}

.mainContainer {
  gap: 20px;
  display: flex;
  flex-direction: column
}

.UBTN {
  padding: 20px 0;
  border-radius: 5px;
  background-color: var(--color-blue);
  color: #fff;
  border: 0;
  width: 100%;
  cursor: pointer
}

.inputContainer {
  background: rgba(217, 217, 217, .25) !important;
  border-radius: 5px !important;
  margin: 10px 0 !important;
  width: 100% !important;
  justify-content: flex-start !important
}

.midcent,
.updateBtn,
.urlInput,
.wid10 {
  width: 100%
}

.flexspcbtw,
.fljtsp,
.oppos {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.Imglogo {
  font-size: 15rem;
  color: var(--color-blue);
  opacity: .5
}

.uploadImgBtn {
  padding: 10px 20px;
  background: #4091b2;
  border-radius: 15px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  font-size: 18px;
  border: 0
}

.mid,
.midcent {
  justify-content: center;
  display: flex
}

.midcent {
  gap: 20px;
  align-items: center
}

.mrt10 {
  margin: 10px 0
}

.P0,
.mZ {
  margin: 0
}

.urlInput {
  background: rgba(217, 217, 217, .5);
  padding: 15px;
  border-radius: 5px;
  font-size: 14px;
  border: 0
}

.fontSize {
  font-size: 16px
}

.exGp {
  display: flex;
  flex-direction: column;
  gap: 20px
}

.BtnDT {
  background-color: transparent;
  border: 1px solid var(--color-blue);
  padding: 10px 20px;
  color: var(--color-blue);
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer
}

.billBtn,
.updateBtn {
  font-size: 18px;
  border-radius: 5px;
  background-color: var(--color-blue);
  color: #fff;
  cursor: pointer
}

.billBtn,
.hughText,
.updateBtn {
  font-weight: 600
}

.flxstrt {
  display: flex;
  gap: 10px
}

.updateBtn {
  padding: 20px;
  border: 0
}

.billBtn {
  padding: 10px 20px;
  border: 0
}

.confirmBox,
.ghostBtn {
  background-color: #fff
}

.hughText,
.tinyText {
  color: var(--color-blue)
}

.hughText {
  font-size: 24px
}

.tinyText {
  font-size: 12px;
  font-weight: 400
}

.ghostBtn {
  padding: 10px 25px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  color: #000;
  border: 1px solid #000;
  cursor: pointer
}

.mid {
  align-items: center;
  flex-direction: column;
  border: dotted 5px var(--color-blue);
  border-style: dashed;
  padding: 20px 40px;
  gap: 20px
}

.boxContainer {
  width: 100%;
  display: flex;
  justify-content: center
}

.btnContainer {
  width: 15%
}

.someText {
  font-weight: 400;
  font-size: 24px
}

.confirmBox {
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px
}

.FWid {
  width: fit-content;
  padding: 15px
}

.FlxEnd {
  display: flex;
  justify-content: flex-end
}

.internalInput {
  padding: 20px;
  border: 0;
  border-radius: 5px;
  width: 100%;
  background-color: transparent;
  font-size: 16px
}

.ternaryFont {
  font-family: "DM Sans";
  font-size: 14px;
  color: #6f6c90
}

.line {
  flex-direction: column
}

.wi50 {
  width: 70%
}

.flStr {
  justify-content: flex-start !important
}

.W45 {
  width: 40%
}

.WDFIF {
  width: 50%
}

.flxEnd {
  display: flex;
  width: 100%;
  justify-content: flex-end
}

.P0 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px
}

@media screen and (max-width:750px) {

  .flexspcbtw,
  .oppos {
    flex-direction: column
  }

  .WDFIF {
    width: 100%
  }

  .btnContainer {
    width: 50%
  }

  .mqcl {
    display: flex;
    flex-direction: column
  }
}