.cardDT {
  background-color: white;
  padding: 40px;
  border-radius: 5px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: -8px 6px 24px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 6px 24px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -8px 6px 24px -10px rgba(0, 0, 0, 0.75);
}

.Gy {
  background-color: rgba(217, 217, 217, 0.5);

}

.mainContainerApiSetting {
  display: flex;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}

.flexspbt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.sedondaryText {

  font-family: "DM Sans";
  font-style: normal;
  font-size: 14px;
  color: #6f6c90;

}

.sedondaryText2 {

  font-family: "DM Sans";
  font-style: normal;
  font-size: 14px;
  padding: 20px;
  color: #6f6c90;

}

.mdFont {
  font-size: 16px;
  font-weight: 600;
}

.externalFieldDR {
  background-color: rgb(205 205 205);
  border-radius: 10px;
  border: none;
  width: 90%;
  overflow-x: auto;
}

.linkText {
  opacity: 0.7;
  padding: 15px;
  background: rgba(217, 217, 217, 0.5);
  border-radius: 5px;

  display: flex;
  text-align: center;
  width: 90%;
}

.BtnDT {
  background-color: transparent;
  border: 1px solid var(--color-blue);
  padding: 10px 20px;
  color: var(--color-blue);
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.GSt {
  border: 1px solid grey;
  color: grey;
  background-color: transparent;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.grBg {

  background: rgba(217, 217, 217, 0.5);
}

.urlInput {
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  border: none;
  font-size: 16px;
}

.exdes {
  background-color: transparent;
  /* width: 100%; */
}

.fw {
  width: 90%;
}

.fontSize {
  font-size: 16px;
  font-weight: 600;
}

.flex {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.flxali {
  display: flex;
  align-items: center;
}

.M20 {
  margin-top: 20px;
}

.Hd {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.contA {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contB {
  width: 45%;
}

.mrt10 {
  margin: 10px 0px;
}

.start {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.widfit {
  width: fit-content;
}

.NoBrd {
  border: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .contB {
    width: 100%;
  }

  .contA {
    width: 100%;
  }
}