.mainContainerc {
  display: flex;
  flex: 12;
  flex-direction: column;
  position: fixed;
  width: 80%;
  top: 0;
  right: -4%;
}
.extcss {
  position: relative;
  justify-content: center;
  /* background: red; */
  align-items: end;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.childContainer2xy {
  /* display: flex;
  flex: 10;
  flex-direction: column;
  width: 70%;
  top: 0;
  right: 5%; */
  /* position: fixed; */
}

.hangUpButton {
  background-color: #df0334;
  padding: 10px;
  width: 150px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  text-align: center;
  cursor: pointer;
}

.childContainer1 {
  display: flex;
  flex: 2;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #67bed9;
}

.rowChild0 {
  display: flex;
  flex: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rowChild1 {
  display: flex;
  flex: 8;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.rowChild2 {
  display: flex;
  flex: 2;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

/* #dashboard {
  color: white;
  font-weight: bold;
  font-size: 20px;
} */

#localVideo {
  height: 80vh;
  width: 100%;
}

#remoteVideo {
  position: absolute;
  bottom: 90px;
  height: 120px;
  /* width: 200px;
  right: 5px; */
}

.callOptions {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-top: 20px;
  justify-content: center;
}

/* .notifierContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: black;
  position: absolute;
  bottom: 1px;
  margin-left: 20px;
  margin-right: 20px;
  right: 50px;
  left: 50px;
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
} */

.callContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  color: white;
  font-weight: bold;
}

.childCallContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.acceptCallContainer {
  background-color: green;
  padding: 8px;
  width: 100px;
  border-radius: 15px;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-right: 10px;
}

.acceptButton {
  background-color: green;
  padding: 8px;
  width: 100px;
  border-radius: 15px;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
}

.declineButton {
  background-color: red;
  padding: 8px;
  width: 100px;
  border-radius: 15px;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-left: 10px;
  cursor: pointer;
}

/* .header {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  font-weight: bold;
}

#information {
  color: white;
  margin-top: 8px;
  font-weight: bold;
  font-size: 14px;
}

#informationEmail {
  color: white;
  margin-top: 3px;
  font-weight: bold;
  font-size: 12px;
  margin-left: 10px;
}

#logoutButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
} */
