.inputexternalContainer {
  border: 1px solid grey !important;
  border-radius: 46px;
  border-radius: 46px;
  width: 100%;
  padding: 20px;
  margin: 10px 0px;
}

.inputexternalContainerCreate {
  border: 1px solid grey !important;
  border-radius: 46px;
  border-radius: 46px;
  width: 100%;
  margin: 10px 0px;
}

.inputinterContainer {
  border: none;
  padding: 20px;
  font-size: larger;
  border-radius: 46px;
  background-color: transparent;
  width: 70%;
}

.Xyz {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px 0px;
  width: 30%;
  border-radius: 10px;
}

/* .Strt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
} */

.centit {
  display: flex;
  justify-content: center;
}

.Err {
  color: red;
  font-size: 16px;
}

.CreateContainer {
  width: 80%;
  align-self: center;
  padding: 40px;
  border-radius: 10px;
  -webkit-box-shadow: 6px 6px 42px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 42px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 42px -12px rgba(0, 0, 0, 0.75);
}

.ViewFieldContainer {
  gap: 10px;
}

.secondaryFont {
  font-size: 18px;
  font-weight: 500;
  margin: 10px;
}

.Viewtitletext {
  font-size: 22px;
  font-weight: 500;
}

.Viewtitle {
  margin: 20px 0px;
}

.boldtext {
  font-size: 18px;
  font-weight: 600;
}

.btnBack {
  width: 100%;
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
  background-color: #1a97f5;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.mt1 {
  margin-top: 20px;
}

.ERR {
  font-size: 13px;
  color: red;
}

.DeleteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.exFont {
  font-size: 26px;
  font-weight: 600;
}

.deleteBtn {
  padding: 20px 40px;
  font-size: 22px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
}

.HeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Stgp20 {
  justify-content: flex-start;
  gap: 20%;
}

.delCol {
  background-color: var(--color-blue);
  color: white;
}

.btnContainer {
  gap: 10px;
}

.DRmodaltext {
  font-size: 16px;
  font-weight: 400;
  color: gray;
}

.DRmodaltexth {
  font-size: 18px;
  font-weight: 400;
  color: gray;
}

.mttw {
  margin: 20px 0px;
}

.bglightgrey {
  background-color: #e7e7e7;
  padding: 20px;
  border-radius: 5px;
}

.ternaryFont {
  font-family: "DM Sans";
  font-style: normal;
  font-size: 14px;
  color: #6f6c90;
}

.viewTITLE {
  font-size: 18px;
  font-weight: 600;
}

.externalViewConatainer {
  padding: 10px;
  background-color: rgb(232 230 230);
  border-radius: 5px;
}

.InputexternalViewConatainer {
  padding: 10px;
  opacity: 0.6;
  border: 0.5px solid grey;
  border-radius: 5px;
}

.viewRowContainer {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.halfLenght {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.halfLenghtno {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.colit {
  flex-direction: column;
  gap: 20px;
}

.DRModalStyle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  border-radius: 10px;
  border: none;
  background-color: white;
  padding: 20px;
}

.internalInputField {
  background-color: transparent;
  width: 100%;
  border-radius: 5px;
  font-size: 18px;
  border: none;
  font-weight: 500;
  color: black;
}

.IniviteBtn {
  background-color: var(--color-blue);
  padding: 20px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.flip {
  display: flex;
}

@media screen and (max-width: 1000px) {
  .viewRowContainer {
    flex-direction: column;
  }

  .boldtext {
    font-size: 18px;
  }

  .halfLenght {
    width: 100%;
  }

  .DRModalStyle {
    width: 90%;
    overflow: auto;
    height: 100%;
  }

  .Xyz {
    width: 90%;
  }

  .DRmodaltext {
    font-size: 14px;
  }

  .DRmodaltexth {
    font-size: 14px;
  }
}