.jtfy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.createBtn {
  background-color: var(--color-blue);
  padding: 20px 40px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.centerCell {
  text-align: center;
}

.HeaderCenter {
  text-align: center;
  font-size: 16px;
}

.verifyTitle {
  color: var(--color-blue);
  font-size: 24px;
  font-weight: 600;
}

.something {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #464e5f;
  text-transform: none;
}

.linkContainer {
  background: rgba(217, 217, 217, 0.5);
  border-radius: 5px;
  white-space: nowrap;
  padding: 10px;
  display: flex;
  text-align: center;
  max-width: 320px;
  overflow: auto;
}

.btnlinkcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.verifyContainer {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 20px;
}

@media screen and (max-width: 1200px) {
  .jtfy {
    flex-direction: column;
  }
}

@media screen and (max-width: 580px) {
  .btnlinkcontainer {
    flex-direction: column;
  }
}